/* Custom */

body {
  overflow: scroll; /* Show scrollbars */
  background-image: url("../assets/bg-dark2.jpg");
  background-size:100% 1200px; /* 593px; 600px; 893px, 1000px; 1200px!!, 1400px; 100%;*/
  background-repeat:no-repeat;
  background-color: #000;
}

h1, h2 {
display:none;
}

h1 {
color:#888;
}

h2 {
color:#666;
}

h3 {
color:#fff;
}

a {
color: #fff;
}

.logo {
  transition: all .3s ease-in-out;
}

.logo:hover {
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(-90deg); /* 120, 190 */
}

.button {
  color: rgba(255, 255, 255, .25);
  border: 3px solid rgba(255, 255, 255, .1);
  width:50%;
  padding:20px;
  display:inline-block;
}

.button:hover,
.button:active,
.button:focus {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, .15);
  background-color:#111;
}


.logo {
  text-align: center;
}

/* Masonry on phones */
@media only screen and (max-width: 768px) {
  .logo {
    width:70%;
	}
}



