/* Custom */

.button {
  color: rgba(255, 255, 255, .25);
  border: 3px solid rgba(255, 255, 255, .1);
  width:50%;
  padding:20px;
  display:inline-block;
}

.button:hover,
.button:active,
.button:focus {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, .15);
  background-color:#111;
}


.logo {
  text-align: center;
}

body {
background: #202020;
color:#fff;
}

h1, h2 {
display:none;
}

h1 {
color:#888;
}

h2 {
color:#666;
}

h3 {
color:#fff;
}

a {
color: #fff;
}
