#packages_create .containerx:nth-child(2) {
	width:900px;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	flex-flow:wrap;
	text-align:center;
}

.box {
	width:31%;
	height:750px;
	background:#1a0c2b;
	margin:10px;
	box-sizing: border-box;
	border-radius:6px;
	padding:20px;
	margin-bottom:100px;

}
/*
.box:nth-child(1) {
	background:#0c2e42;
}

.box:nth-child(2) {
	background:#1f174d;
}

.box:nth-child(3) {
	background:#2d0233;
}
*/
.box .icon  {
	width:60px;
	height:60px;
	margin:20px;
}

.box .icon i {
	font-size:60px;

}

/* more vivid
.box:nth-child(1) .icon i{
	color:#00cfff;
}

.box:nth-child(2) .icon i {
	color:#5c67ff;
}

.box:nth-child(3) .icon i {
	color:#ec06e9;
}
*/

.box:nth-child(1) .icon i{
	color:#60b9b9;
}

.box:nth-child(2) .icon i {
	color:#6066b9;
}

.box:nth-child(3) .icon i {
	color:#b960b8;
}


.box .name {
font-family: 'Roboto Condensed', sans-serif;
font-size:30px;
}

.box .sub {
font-size:20px;
height:100px;
font-family: 'Assistant', sans-serif;
}

.box  i {
	color: green;
	margin-right:10px;
}

.box p {
	text-align:left;
	margin-left:7px;
	font-size:14px;
}

.box .list {
	height:210px;
	font-size: 0.875rem;
}

.box .list ul {
	padding-left:20px; 
	list-style:none;
	text-align:left;
}

.box .list ul li {
	margin-bottom:10px; 
	display: flex;
    flex-direction: row;
}
.box .list ul li:before {    
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -15px;
	color: green;
	padding-right:5px;
}
.box .price {
	font-size:50px;
}

.box {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.box::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(
    120deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3,
	#ff2400
  );
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  animation: move 20s linear infinite;
  opacity: 0; /* setting this to 1 shows all moving gradients without even having to hover */
  transition: opacity 0.3s ease-in-out;
  border-radius: 4px;
}

.box:nth-child(1)::before {
	filter: sepia(100%) saturate(300%) brightness(50%) hue-rotate(180deg); /* this causes the colors to nute 90 */
}

.box:nth-child(2)::before {
	filter: sepia(100%) saturate(300%) brightness(50%) hue-rotate(180deg); /* this causes the colors to nute 180 */
}

.box:nth-child(3)::before {
	filter: sepia(100%) saturate(300%) brightness(50%) hue-rotate(180deg); /* this causes the colors to nute -90 */
}

.box:hover::before {
  opacity: 0;
}

.box:hover::after {
  opacity: 1; /* when this opacity is set to 0, whole box will become rainbow hues when hover because the plaque layer is transparent. changing it to 0.7-0.9 also gives it translucent effect and you can see the rainbow gradient at the back.*/
}

.box::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  
  background: #333; /* this is the color of the box when hover. Remove this and the whole box will become rainbow hues. We can set the plaque to a fix color or we can use the gradients below */
  
  /* here is the start of the gradient */
  background: linear-gradient(
    110deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3,
	#ff2400
  );
  background-size: 400%;
  z-index: -1;
  filter: blur(50px);
  animation: move 50s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 4px;
  /* filter: sepia(100%) saturate(300%) brightness(20%) hue-rotate(190deg); /* this causes the colors to mute */
  /* here is the end of the gradients */
}

.box:nth-child(1)::after {
	filter: sepia(100%) saturate(300%) brightness(20%) hue-rotate(220deg); /* this causes the colors to nute 145*/
}

.box:nth-child(2)::after {
	filter: sepia(100%) saturate(300%) brightness(20%) hue-rotate(220deg); /* this causes the colors to nute 220*/
}

.box:nth-child(3)::after {
	filter: sepia(100%) saturate(300%) brightness(20%) hue-rotate(220deg); /* this causes the colors to nute -90*/
}


@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}