/* Custom */

/*

    font-family: 'Archivo Narrow', sans-serif;

    font-family: 'Assistant', sans-serif;

    font-family: 'Inter', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Passion One', cursive;

    font-family: 'Roboto', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;
	
*/

body {
  overflow: scroll; /* Show scrollbars */
  background-image: url("../assets/bg.jpg");
  background-size:100% 1400px; /* 593px; 893px, 1400!!, 100% */
  background-repeat:no-repeat;
  background-color: #000;

}

h1 {
font-family: 'Archivo Narrow', sans-serif;
	font-size:50px;
	color:#fff;
	text-align:center;
	font-weight:normal;
	margin:0;
}

h2 {
	font-family: 'Assistant', sans-serif;
	font-size:30px;
	color:#fff;
	text-align:center;
	font-weight:normal;
	margin:0;
}

section {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	flex-flow:wrap;
	text-align:center;
}


.containerx {
	width:1024px;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	flex-flow:wrap;
	text-align:center;
}

#about .containerx:nth-child(2) {
	background-image: url("../assets/dotted_line.png");
	background-size:699px 10px; /* 593px; 893px, 1400!!, 100% */
	background-repeat:no-repeat;
	background-position:top center;
	background-attachement:fixed;
	margin-top:50px;
}

#about .containerx .step .number {
	border:2px solid green;
	border-radius:50%;
	width:30px;
	height:30px;
	color:lime;
	box-shadow: 0px 0px 7px 1px green;
	margin:auto;
	margin-top:-38px;
	background-color:black;
}

#about .containerx .step .short_title {
	font-size:1.1em;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:20px;
}

.step {
	width:31%;
	background:#000;
	margin:10px;
	box-sizing: border-box;
	border-radius:6px;
	padding:20px;
	margin-bottom:100px;
	
}


.more {
	margin-bottom:100px;
}

.more .divider {
	display:block;
	box-sizing: border-box;
	width:100%;
	height:0px;
}




.title {
	text-align:center;
	margin-bottom:70px;
}




@media screen and (max-width:768px) {
	.box {
		width:90%;
	}
}


/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.box {
		width:40%;
	}
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
	.box {
		width:30%;
	}
}

.button {
  color: rgba(255, 255, 255, .25);
  border: 3px solid rgba(255, 255, 255, .1);
  width:50%;
  padding:20px;
  display:inline-block;
}

.button:hover,
.button:active,
.button:active,
.button:focus {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, .15);
  background-color:#111;
}

.splash2 img {
  transition: all .3s ease-in-out;
}

.splash2  img:hover {
  color: #4fafe6;
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(190deg); /* 120, 190 */
}

.splash {
	margin-top:100px;
	margin-bottom:0px;
	text-align:center;
}

.splash2 {
	text-align:center;
	margin-bottom:100px;
}

.splash img {
	width:80%;
}

.splash2 img {
	width:80%;
}

.splashtitle img {
	width:80%;
}

.brand {
  width:100px;
}

.logo {
  text-align: center;
  margin-bottom:20px;
  width:40px;
}

.logosub {
  text-align: center;
}

#convert {
  margin-bottom:50px;
}


.masonry .brick img {
  width:1024px;
}

.masonry .brick  {
  text-align:center;
}

.blockmenu img {
	margin-bottom: 10px;
}

#portfolio {
	text-align:right;
	padding-right:20px;
	border-right:1px solid #333;
}

#matrix {
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

#aesthetics {
	text-align:left;
	padding-left:20px;
	border-left:1px solid #333;
}

.intro  a {
  color: #aaa;
}

.intro  h3:nth-child(1) div a:hover {
  color: #4fafe6;
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
}

.intro  h3:nth-child(2) div a:hover {
  color: #4fafe6;
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(70deg);
}

.intro  h3:nth-child(3) div a:hover {
  color: #4fafe6;
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(-90deg);
}

/* Masonry on phones */
@media only screen and (max-width: 768px) {
  .step {
	width:70%;
  }
  
  .masonry {
    column-count: 1;
  }
  
  .masonry.gutterless .brick {
    margin-bottom: 1px;
  }
  
/* Bordered masonry */
.masonry.bordered {
  column-rule: 1px solid #eee;
  column-gap: 1px;
}

.masonry.bordered .brick {
  padding-bottom: 0px;
  margin-bottom: 1px;
  border-bottom: 0;
}

#portfolio {
	text-align:center;
	border-right:0;
}

#matrix {
	text-align:center;
}

#aesthetics {
	text-align:center;
	border-left:0;
}
  
.bgwhite {
	background-color:#fff;
}
  
}